<h2>About company</h2>
<hr>
<div class="row">
    <div class="col-md-9">
        <p class="text-justify">&emsp;&emsp;&emsp;We have many years of experience in the field of automatic machines that handle cash transactions such as deposits and withdrawals. We design and manufacture machines as well as their service, creation of layouts for automats, programming of microcontrollers serving transactions and security of machines. We also make individual orders depending on customer needs.</p>
    </div>
    <div class="col-md-3">
        <img src="./assets/img/andrew-branch-106863.jpg" class="rounded mx-auto img-thumbnail" alt="...">
    </div>
</div>
<hr>
<div class="text-center">
    <img src="./assets/img/vitaly-145502.jpg" class="rounded mx-auto img-thumbnail" alt="..." width="365px">
    <img src="./assets/img/kychan-130805.jpg" class="rounded mx-auto img-thumbnail" alt="..." width="365px">
    <img src="./assets/img/aldric-rivat-327186.jpg" class="rounded mx-auto img-thumbnail" alt="..." width="365px">
</div>