<h2>Exchange machines</h2>
<hr>
<div class="row">
    <div class="col-md-3">
        <img src="./assets/img/christine-roy-343235.jpg" class="rounded mx-auto img-thumbnail" alt="...">
    </div>
    <div class="col-md-9">
        <p class="text-justify">&emsp;&emsp;&emsp;In order to satisfy the market as the first in the world, we have created an "automatic exchange" machine that handles currency exchange transactions, not only in banknotes but also in coins and bank cards. The main advantage of the machine is maintenance-free by automatic cash turnover and practically no fixed costs (premises, employees), which is an ideal form of passive income.</p>
    </div> 
</div>
<hr>
<div class="text-center">
    <img src="./assets/img/vitaly-145502.jpg" class="rounded mx-auto img-thumbnail" alt="..." width="365px">
    <img src="./assets/img/kychan-130805.jpg" class="rounded mx-auto img-thumbnail" alt="..." width="365px">
    <img src="./assets/img/aldric-rivat-327186.jpg" class="rounded mx-auto img-thumbnail" alt="..." width="365px">
</div>